html {
  height: 100vh;
}
body {
  /* margin: 0;
  padding: 0; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, p {
  margin: 0;
}
.App {
  background-image: linear-gradient(#e61c6a, #00d4ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiSpeedDial-fab {
  color: #e61c6a!important;
  background: #00d4ff!important;
}